body {
  display: flex;
  height: 100vh;
  color: bisque;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(24, 67, 105);
}

* {
  margin: 0px;
  padding: 0px;
}

label {
  margin: 70px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.input-city {
  border-radius: 5px;
  border-style: none;
  padding: 10px 20px;
}

.input-button {
  background-color: #49944c;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
